<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img class="logo" src="images/logo4.png" width="85%"> </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#useGoThere">Use GoThere</a></li>
        <li><a href="/logout">Log-out</a></li>
      </ul>
    </div>
  </nav>



</div>
<ul class="sidenav" id="mobile-demo">
  <li><a href="#">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#useGoThere">Use GoThere</a></li>
  <li><a href="/logout">Log-out</a></li>
</ul>


{{!-- parallax img 1 --}}
<div class="parallax-container">
  <div class="parallax">
    <img class="mainPic" src="images/rideshare2.jpg">
  </div>
</div>

<div class="container">
  <div id="about">
    <h4>About GoThere</h4>
    <p> Commuting or just going somewhere can take long and bore you. Wouldn’t it be fun to use the commuting time to
      make friends or network? GoThere is a commuting app that connects users who go to the same destination. You can
      choose either car pool or public transportation option.
      </br>


      <p>Why use GoThere?</p>
      <div class="row" id="icons">

        <div class="col l4 m4 s12">
          <i class="fas fa-dollar-sign"><span class="iconText">Save money on gas, parking, and toll</span></i>
        </div>

        <div class="col l4 m4 s12">
          <i class="fas fa-leaf"><span class="iconText">Help the environment by sharing rides </span></i>
        </div>

        <div class="col l4 m4 s12">
          <i class="fas fa-user-friends"><span class="iconText">Make your commute fun and meet friends</span></i>
        </div>
      </div>
      <!-- closing icon row div -->

  </div>
  <!-- closing about div -->

</div>
{{!-- closing container div --}}

{{!-- parallax img2 --}}
<div class="parallax-container">
  <div class="parallax">
    <img class="mainPic" src="images/bus_stop.jpg">
  </div>
</div>


<div class="container">
  <div id="useGoThere">
    <h4>Getting started with GoThere</h4>

    <div class="row" id="userInput">

      <form class="col s12" action="/result" method="POST">

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Starting point" id="start" name="start" type="text" class="validate">
            <label for="start">Where is your starting point?</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Destination" id="end" name="end" type="text" class="validate">
            <label for="end">Where are you going?</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s12">
            <input id="calendar" name="calendar" onchange="checkDate()" required class="datepicker-input"
              placeholder="mm/dd/yyy" type="date" data-date-format="yyyy-mm-dd">
            <label for="calendar">Pick date</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s12">
            <input placeholder="hh:mm" id="clock" name="clock" onchange="checkTime()" type="text" class="timepicker">
            <label for="time">Pick time(Arrival Time)</label>
          </div>
        </div>


        <div class="row">
          <div class="input-field col s12">
            <select id="transMethod" name="transMethod">
              <option value="" disabled selected>Choose your option</option>
              <option value="WALKING">Walking</option>
              <option value="DRIVING">Driving</option>
              <option value="TRANSIT">Transit</option>
              <option value="BICYCLING">Bike</option>
            </select>
            <label for="transMethod">Choose your transportaion</label>
          </div>
        </div>
        <input type="submit" class="waves-effect waves-light btn" id="submit">
      </form>
    </div>

  </div>

</div>
<!-- closing useGoThere div -->






</div>
{{!-- closing container div --}}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- moment.js -->
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
{{!-- googlemaps api --}}
{{!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapKey}}&callback=initMap"></script> --}}
<!-- javascript file -->
<script src="js/index.js"></script>
{{!-- <script src="api/google/initGeocode"></script> --}}