<div id="authCon" class="container">
  <div id="authLogo" class="row">
    <div class="col s12">
      <img src="images/logo4.png">
    </div>
  </div>

  <div class="row">
    <div class="col s6" id="signupBtn">
      <a class="waves-effect waves-light btn">Sign Up</a>
    </div>
    <div class="col s6" id="loginBtn">
      <a class="waves-effect waves-light btn">Log In</a>
    </div>
  </div>

</div>