<div id="authCon" class="container">
    <div id="authLogo" class="row">
        <div class="col s12">
            <img src="images/logo4.png">
        </div>
    </div>

    <div class="row">
        <div class="col s4">
        </div>
        <div class="col s4">
            <form id="signup" name="signup" method="post" action="/signup">
                <label for="email">Email Address</label>
                <input class="text" name="email" type="email" />
                <label for="firstname">Firstname</label>
                <input name="firstname" type="text" />
                <label for="lastname">Lastname</label>
                <input name="lastname" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <input class="btn" type="submit" value="Sign Up" />
            </form>
        </div>
        <div class="col s4">
        </div>
    </div>

</div>